* {
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb9798+0,760002+17,760002+17,760002+35,760002+64,ef1f23+100 */
background: rgb(251,151,152); /* Old browsers */
background: -moz-linear-gradient(top, rgba(251,151,152,1) 0%, rgba(118,0,2,1) 17%, rgba(118,0,2,1) 17%, rgba(118,0,2,1) 35%, rgba(118,0,2,1) 64%, rgba(239,31,35,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,151,152,1)), color-stop(17%,rgba(118,0,2,1)), color-stop(17%,rgba(118,0,2,1)), color-stop(35%,rgba(118,0,2,1)), color-stop(64%,rgba(118,0,2,1)), color-stop(100%,rgba(239,31,35,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(251,151,152,1) 0%,rgba(118,0,2,1) 17%,rgba(118,0,2,1) 17%,rgba(118,0,2,1) 35%,rgba(118,0,2,1) 64%,rgba(239,31,35,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(251,151,152,1) 0%,rgba(118,0,2,1) 17%,rgba(118,0,2,1) 17%,rgba(118,0,2,1) 35%,rgba(118,0,2,1) 64%,rgba(239,31,35,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(251,151,152,1) 0%,rgba(118,0,2,1) 17%,rgba(118,0,2,1) 17%,rgba(118,0,2,1) 35%,rgba(118,0,2,1) 64%,rgba(239,31,35,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(251,151,152,1) 0%,rgba(118,0,2,1) 17%,rgba(118,0,2,1) 17%,rgba(118,0,2,1) 35%,rgba(118,0,2,1) 64%,rgba(239,31,35,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9798', endColorstr='#ef1f23',GradientType=0 ); /* IE6-9 */
}

h1 {
  color: #FF9D00;
  border-radius: 5px;
  /*text-shadow: 3px 3px 3px 3px;*/
}
span {
  color: white;
  border-radius: 5px;
}
#board {
  width: 100%;
}

/*p {
  border: 1px solid blue;
  float: left;
  margin-left: 10px;
  padding-top: 30px
}*/
div {
  border: 1px solid black;
  text-align: center;

}
#player1 {
  margin-top: 40px;
  padding-top: 250px;
  width: 45%;
  height: 600px;
  float: left;
  font-size: 30px;


    background: -webkit-linear-gradient(90deg, #DE6262 10%, #FFB88C 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #DE6262 10%, #FFB88C 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #DE6262 10%, #FFB88C 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #DE6262 10%, #FFB88C 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #DE6262 10%, #FFB88C 90%); /* W3C */


}

#player2 {
  margin-top: 40px;
  padding-top: 250px;
  width: 45%;
  height: 600px;
  float: right;
  font-size: 30px;

  background: -webkit-linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* W3C */

}

#footer {
  clear: both;
  float: right;
  color: white;
}

#reset, #start, #auto {
  background: teal;
  width: 42.5px;
  height: 30px;
  margin-bottom: 5px;
}

#player1.enable
{
	-webkit-animation: flash 1s ease 1;
	-moz-animation: flash 1s ease 1;
	-ms-animation: flash 1s ease 1;
	-o-animation: flash 1s ease 1;
	animation: flash 1s ease 1;
}

#player2.enable
{
	-webkit-animation: flash 1s ease 1;
	-moz-animation: flash 1s ease 1;
	-ms-animation: flash 1s ease 1;
	-o-animation: flash 1s ease 1;
	animation: flash 1s ease 1;
}



/* animation */
@-webkit-keyframes flash {
	50% { opacity: 0; }
}

@-moz-keyframes flash {
	50% { opacity: 0; }
}

@-ms-keyframes flash {
	50% { opacity: 0; }
}

@-o-keyframes flash {
	50% { opacity: 0; }
}

@keyframes flash {
	50% { opacity: 0; }
}
